@{ 
    Layout = "_MasterLayout";
}
<!DOCTYPE html>
<html>
<head>
    <title>Async Inn - Home</title>
    <link rel="stylesheet" href="~/Home.css" type="text/css" />
</head>
    <body>
        <form method="post">
            <button asp-route="hotels">See all hotels</button>
        </form>
    </body>

</html>
